/*DAOUDA BA*/

/* Couleurs utilisées
#f2f2f2
#5FDD9D
#ccc
#000

dodgerblue
*/

body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(to bottom, #5FDD9D 0%, #ff99cc 100%);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
  
* {
    box-sizing: border-box;
}
  
input[type=text], input[type=date], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-weight: bold;
}

input[type=checkbox] {
    margin-top: 2%;
    margin-left: 2%;
    font-weight: bold;
}
input[type=radio] {
    margin-top: 2%;
    margin-left: 2%;
    font-weight: bold;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

textarea{
    font-family: 'Ubuntu', sans-serif;
}
  
input[type=submit] {
    margin-top: 2%;
    background-color: #5FDD9D;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #4CAF50;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.copy {
    font-size: 12px;
    color: #5FDD9D;
    font-weight: bold;
    margin-left: 40.5%;
    margin-bottom: 5%;
}

h2 {
    margin-top: 2%;
    margin-left: 40%;
}

table {
    margin-top: 4%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}